<form action="/url" method="POST"  class="mt-4">
  <div class="form-group">
    <input type="text"
      class="form-control"
      placeholder="Input URL here"
      name="hostname"
      required>
  </div>
  <button type="submit"
    class="btn btn-outline-primary mt-3 btn-block ">Shorten</button>
</form>